
.createPokemon{
    padding:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    min-width: 400px;
    gap:20px;
    -webkit-box-shadow: 2px 5px 18px 5px rgba(0,0,0,0.72); 
    box-shadow: 2px 5px 18px 5px rgba(0,0,0,0.72);
    border-radius: 10px;
    background-color: aliceblue;

}

.deleteBtn{
    margin-bottom:25px;

}




@media (max-width: 950px) {
    .section-create {
      grid-template-columns: repeat(2, 300px);
    }
  }
  
  @media (max-width: 768px) {
    .createPokemon{
  
       margin-top: 250px;
  
    }

}
  
  @media (max-width: 620px) {
    .section-create {
      grid-template-columns: repeat(1, 300px);
    }
  }