@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dhurjati&family=Fira+Sans&family=Montserrat&family=PT+Sans&family=Sofia+Sans+Condensed&family=Space+Mono&family=Young+Serif&display=swap');

$blue:#3f51b5;
$yellow: rgb(255,247,168);
$grey: #282c34;


$font: 'Montserrat', sans-serif;